{% extends 'base.html.twig' %}

{% block title %}Accueil SnowTricks{% endblock %}

{% block body %}
    <div class="img-header row m-0">
        <div class="col-12 col-md-8 mx-auto align-self-center text-center">
            <img class="img-fluid" src="/assets/images/home_image.jpeg" alt="image snowboard freestyle home">
            <div class="scroll-container">
                <a href="/#list" class="text-decoration-none arrow-color">
                    <i class="fa fa-arrow-circle-o-down cursor-pointer hover-arrow fa-2x"></i>
                </a>
            </div>
        </div>

    </div>

{% endblock %}
