
<!-- Modal -->
<div class="modal fade" id="deleteTrickModal{{ trick.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation de la suppression du trick</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Pour confirmer la suppression, cliquer sur ce lien
                <a href="{{ path('app_trick_delete', {id: trick.id}) }}" class="card-link"><i class="fa-solid fa-trash-can"></i></a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>