{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="row">
        <div class="col">{{ form_row(form.name) }}</div>
    </div>
        <div class="row">
        <div class="col">{{ form_row(form.description) }}</div>
        </div>
    {{ form_rest(form) }}


{% endblock %}

