{% extends 'base.html.twig' %}

{% block title %}
Création d'un SnowTrick
{% endblock %}

{% block body %}
    <h1 class="text-center">Création d'un SnowTrick</h1>
    {% include "/pages/trick/_trick_form.html.twig" %}
{% endblock %}

