{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Modification d'un SnowTrick</h1>
    {% include "/pages/trick/_trick_form.html.twig" %}

{% endblock %}

{% block title %}
Edition d'un SnowTrick
{% endblock %}

